@model Inmobiliaria.Models.Usuario
    
@{
    ViewData["Title"] = "Modificar Usuario";
    var uniqueParam = DateTime.UtcNow.Ticks;
}

<div class="text-center">
    <h1 class="display-4 mb-5">@ViewBag.Titulo</h1>
    <div class="container mt-4 ">
       <div class="row d-md-flex flex-column flex-lg-row">
        <div class="col">
        <form  class="text-light form form-floating d-flex flex-wrap flex-column gap-4" asp-action="UpdateDatosPersonales" data-bs-theme="dark" onsubmit="return confirmarModificacion(event)">
        <h3>Datos Personales</h3>

         @if(User.IsInRole("Administrador")){
           <div class="form-floating mx-auto  text-center col-12">
            <select id="rol" class="form-select" name="Rol" required>
            @foreach (var rol in ViewBag.roles)
            {
                <option value="@rol" selected="@(rol == Model.Rol.ToString())">@rol</option>
            }
            </select>
            <label for="Rol" class="ms-2">Rol</label>
         </div>

         <div class="form-floating justify-content align-items-center mx-auto  text-center col-12">
            <select id="estado" value="@Model.Estado" class="form-select w-100 " name="Estado" required>
            <option value=true selected=@(Model.Estado==true)>Activo</option>
            <option value=false selected=@(Model.Estado==false)>Inactivo</option>
            </select>
            <label for="Rol" class="ms-2">Estado</label>
         </div>
         }
         
         <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto col-12 text-center">
            <input id="apellido" value="@Model.Apellido" class="form-control" type="text" name="Apellido" placeholder="asd" required>
            <label for="apellido" class="ms-2 ">Apellido</label>
         </div>
         
         <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto col-12 text-center">
             <input id="nombre" value="@Model.Nombre" class="form-control" type="text" name="Nombre" placeholder="asd" required>
             <label for="nombre" class="ms-2 ">Nombre</label>
         </div>
         <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto col-12 text-center">
             <input id="correo" value="@Model.Correo" class="form-control" type="email" name="Correo" placeholder="asd" required/>
             <label for="correo" class="ms-2 ">Correo</label>
         </div>
         <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto  col-12 text-center">
             <input id="dni" value="@Model.Dni" class="form-control" type="text" name="Dni" placeholder="asd" pattern="^\d{2}\.\d{3}\.\d{3}$" title="XX.XXX.XXX" required>
             <label for="dni" class="ms-2 ">DNI <span class="fs-7">(formato: XX.XXX.XXX)</span></label>
         </div>
         
         <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto  col-12 text-center">
             <input id="telefono" value="@Model.Telefono" class="form-control" type="tel" name="Telefono" placeholder="asd" pattern="^\+\d{2} \d{2,3}-\d{6,7}$" title="+XX XXX-XXXXXXX" required>
             <label for="telefono" class="ms-2 ">Teléfono <span class="fs-7">(Formato +XX XXX-XXXXXXX)</span></label>
         </div>
         <input id="id" value="@Model.Id" class="form-control" type="hidden" name="Id"  required>
         <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto  col-12 text-center">
            
             <button type="submit" class="btn btn-primary mx-auto" style="width: fit-content;"><i class="fa-solid fa-user-pen"></i></button>
         </div>
        </form>
        </div>
        <div class="col">
            <form  class="text-light form form-floating d-flex flex-wrap flex-column gap-4" asp-action="UpdateDatosLogueo" data-bs-theme="dark" onsubmit="return confirmarModificacion(event)">

                <h3>Datos de Logueo</h3>
          
         <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto  col-12 text-center">
           <input type="password" class="form-control" id="OldPassword" name="ClaveActual" autocomplete="" placeholder="Contraseña actual" required>
           <label for="ClaveActual" class="ms-2">Contraseña actual</label>
         </div>
         <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto col-12 text-center">
             <input type="password" class="form-control" id="NewPassword" name="ClaveNueva" placeholder="Nueva contraseña" >
             <label for="ClaveNueva" class="ms-2">Nueva contraseña</label>
         </div>
         <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto  col-12 text-center">
             <input type="password" class="form-control" id="ClaveNuevaAgain" name="ClaveNuevaAgain" placeholder="Nueva contraseña Nuevamente" >
             <label for="ClaveNuevaAgain" class="ms-2">Nueva contraseña Nuevamente</label>
         </div>
         <input id="id" value="@Model.Id" class="form-control" type="hidden" name="Id"  required>
         <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto col-12 text-center">
            
             <button type="submit" class="btn btn-primary mx-auto" style="width: fit-content;"><i class="fa-solid fa-pen"></i></button>
         </div>
            </form>
        </div>
        <div class="col">
            <form enctype="multipart/form-data" class="text-light form form-floating d-flex flex-wrap flex-column gap-4" asp-action="UpdateAvatar" data-bs-theme="dark" onsubmit="return confirmarModificacion(event)">
            <h3>Avatar de Usuario</h3>
               <div class="d-flex gap-4 align-middle   mx-auto  col-12 text-start flex-column">
                   <div class="mx-auto td-user-label">
                                        
                    <img id="avatarImg" src="@(Model.Avatar != "" ? Model.Avatar : "/Uploads/default.png")" alt="Avatar" class="img-square-large td-usuario mx-auto border border-5 border-light rounded-circle">
                
                   </div>
                   <input id="avatar" class="form-control  form-control-lg" type="file" name="AvatarFile" placeholder="asd" required/>
      
               </div>
               <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto  col-12 text-center">
             <input id="id" value="@Model.Id" class="form-control" type="hidden" name="Id"  required>
             <button type="submit" class="btn btn-primary mx-auto" style="width: fit-content;"><i class="fa-solid fa-pen"></i></button>
         </div>
            </form>
        </div>
       </div>
       <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto col-md-8 text-center ">

               <a  class="btn btn-primary mx-auto" style="width: fit-content;" asp-controller=@(User.IsInRole("Administrador")?"Usuarios":"Home") asp-action="Index"><i class="fa-solid fa-circle-left"></i></a>
               
        </div>
        
    
</div>

</div>
<script src="~/js/previewAvatar.js" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      @if (TempData.ContainsKey("AlertMessage") && TempData.ContainsKey("AlertType"))
      {
          var alertMessage = TempData["AlertMessage"];
          var alertType = TempData["AlertType"];
          <text>
              Swal.fire({
                  icon: '@alertType',
                  title: '@alertMessage',
                  showConfirmButton: false,
                  timer: 2000 // Mostrar durante 2 segundos
              });
          </text>
      }
    </script>

