@model List<Inmobiliaria.Models.Contrato>

@{
    ViewData["Title"] = "Contratos";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Contratos</h1>

    <table class="table table-striped table-dark table-hover">
        <div class="row d-flex justify-content-between">
            <div class="col d-flex justify-content-start">
                <h5 class="position-relative">Detalle de los Contratos</h5>
            </div>
            <div class="col d-flex justify-content-end">
               <a href="/Contratos/Create" class="btn btn-success "> <i class="fa-solid fa-circle-plus "></i></a>
            </div>


        </div>
        <thead>
            <tr>
                                
                <th>Id Inquilino</th>
                <th>Id Inmueble</th>
                <th>Fecha de Inicio</th>
                <th>Fecha Fin</th>
                <th>Estado</th>       
                <th>Acciones</th>       
            </tr>

        </thead>
        <tbody>
            @foreach (var Contrato in Model)
            { 

                    <tr>

                        <td>@Contrato.Inquilino.Id</td>
                        <td>@Contrato.Inmueble.Id</td>
                        <td>@Contrato.FechaInicio.ToString("dd-MM-yyyy")</td>
                        <td>@Contrato.FechaFin.ToString("dd-MM-yyyy")</td>
                        <td>@(Contrato.Estado==true?"Activo":"Inactivo")</td>                     
                        
                        <td class="d-flex gap-2 justify-content-center align-items-center" >
                          <form asp-action="Delete" asp-route-id="@Contrato.Id" onsubmit="return confirmarEliminacion(event)">
                              <button type="submit" class="btn btn-danger w-75 h-75 d-flex justify-content-center align-items-center">
                                  <i class="fa-solid fa-trash"></i>  
                              </button>
                          </form>
                         <div >
                           <a href="/Contratos/Update/@Contrato.Id" class="btn btn-primary w-75  d-flex justify-content-center align-items-center"> <i class="fa-solid fa-pen-to-square" style="cursor:pointer;"></i> </a>
                         </div>
                         <div >
                           <a href="/Contratos/Details/@Contrato.Id" class="btn btn-info w-75  d-flex justify-content-center align-items-center"> <i class="fa-solid fa-eye style="cursor:pointer;""></i> </a>
                         </div>
                        </td>
                         
                    </tr>
            }
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      @if (TempData.ContainsKey("AlertMessage") && TempData.ContainsKey("AlertType"))
      {
          var alertMessage = TempData["AlertMessage"];
          var alertType = TempData["AlertType"];
          <text>
              Swal.fire({
                  icon: '@alertType',
                  title: '@alertMessage',
                  showConfirmButton: false,
                  timer: 2000 // Mostrar durante 2 segundos
              });
          </text>
      }
    </script>

