@model List<Inmobiliaria.Models.Contrato>

@{
    ViewData["Title"] = "Contratos";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Contratos</h1>
    @if (TempData["Multa"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            El Inquilino <strong>@TempData["Inquilino"]</strong> debera abonar una multa de
            <strong>@TempData["Multa"]</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <table class="table table-striped table-dark table-hover">
        <div class="row d-flex justify-content-between mb-3">
            <div class="col d-flex justify-content-start gap-3 align-items-center ">
                <h5 class="position-relative">Detalle de los Contratos</h5>
                @if (ViewBag.Disponibles != null)
                {
                    @if (ViewBag.Disponibles)
                    {
                        <a asp-action="Index" class="btn btn-outline-warning ">Mostrar Todos</a>
                        <form asp-action="FiltrarPorFecha" class="d-flex justify-content-start">
                            <div id="desdeContainer"
                                class="d-flex gap-2 justify-content align-items-center   text-center ">
                                <label for="Desde" >Desde</label>
                                <input id="desde" class="form-control" type="date" name="Desde" placeholder="sad"
                                    required
                                    onchange="document.getElementById('hasta').min = document.getElementById('desde').value">
                                
                            </div>

                            <div id="hastaContainer"
                                class="d-flex gap-2  justify-content align-items-center  text-center ">
                                <label for="Hasta" >Hasta</label>
                                <input id="hasta" class="form-control" type="date" name="Hasta" placeholder="sad"
                                    required>   
                            </div>
                            <button class="btn btn-outline-primary"><i class="fa-solid fa-calendar-days"></i></button>
                        </form>
                    }
                    else if (!ViewBag.Disponibles)
                    {
                        <a asp-action="IndexDisponibles" class="btn btn-outline-warning ">Mostrar Vigentes</a>
                    }
                }
            </div>
            <div class="col-1 d-flex justify-content-end">
                <a href="/Contratos/Create" class="btn btn-success " title="Crear"> <i
                        class="fa-solid fa-circle-plus "></i></a>
            </div>


        </div>
        <thead>
            <tr>

                <th>Inquilino</th>
                <th>Inmueble N°/Direccion</th>
                <th>Monto Mensual</th>
                <th>Fecha de Inicio</th>
                <th>Fecha Fin</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>

        </thead>
        @if (Model.Count > 0)
        {
        <tbody>
            @foreach (var Contrato in Model)
            {

                <tr>

                    <td>@Contrato.Inquilino.ToString()</td>
                    <td>@Contrato.Inmueble.Id - @Contrato.Inmueble.Direccion </td>
                    <td>$@Contrato.MontoMensual</td>
                    <td>@Contrato.FechaInicio.ToString("dd-MM-yyyy")</td>
                    <td>@Contrato.FechaFin.ToString("dd-MM-yyyy")</td>
                    <td><i class="fa-solid fa-circle @(Contrato.Estado==true?"text-success":"text-danger")"></i></td>



                    <td class="d-flex gap-2 justify-content-center align-items-center">
                        @if (User.IsInRole("Administrador"))
                        {
                            <form id="formBorrar_@Contrato.Id" asp-action="Delete" asp-route-id="@Contrato.Id"
                                onsubmit="return mostrarAlertaConSelect(event, 'formBorrar_@Contrato.Id')">
                                <button type="submit"
                                    class="btn btn-outline-danger w-75 h-75 d-flex justify-content-center align-items-center"
                                    title="Eliminar">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </form>
                        }

                        <div>
                            <a asp-controller="Contratos" asp-action="Update" asp-route-id="@Contrato.Id"
                                class="btn btn-outline-primary w-75  d-flex justify-content-center align-items-center"
                                title="Modificar"> <i class="fa-solid fa-pen-to-square" style="cursor:pointer;"></i> </a>
                        </div>
                        <div>
                            <a asp-controller="Contratos" asp-action="Details" asp-route-id="@Contrato.Id"
                                class="btn btn-outline-info w-75  d-flex justify-content-center align-items-center"
                                title="Detalles"> <i class="fa-solid fa-eye style=" cursor:pointer;""></i> </a>
                        </div>
                        <div>
                            <a asp-controller="Pagos" asp-action="Index" asp-route-IdContrato="@Contrato.Id"
                                class="btn btn-outline-warning w-75  d-flex justify-content-center align-items-center"
                                title="Pagos"> <i class="fa-solid fa-file-invoice-dollar" style="cursor:pointer;"></i></a>
                        </div>
                    </td>

                </tr>
            }
        </tbody>
         }else
        {
            <tbody>
                <tr>
                    <td colspan="9" class="text-center">No se encontraron contratos para este inmueble</td>
                </tr>
            </tbody>
        }
    </table>
    @if (ViewBag.Disponibles == null)
    {
        <div class="form-group mt-3">
            <button type="button" class="btn btn-primary mx-auto" style="width: fit-content;"
                onclick="window.location.href = '/Inmuebles'"><i class="fa-solid fa-circle-left"></i></button>
        </div>
    }
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    @if (TempData.ContainsKey("AlertMessage") && TempData.ContainsKey("AlertType"))
    {
        var alertMessage = TempData["AlertMessage"];
        var alertType = TempData["AlertType"];
        <text>
                Swal.fire({
                    icon: '@alertType',
                title: '@alertMessage',
                showConfirmButton: false,
                timer: 2000
                               // Mostrar durante 2 segundos
                          });
        </text>
    }
</script>
