@model Inmobiliaria.Models.Inmueble
    
@{
    ViewData["Title"] = "Modificar Inmueble";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Modificar Inmueble</h1>
    <div class="container mt-4 ">
  <form id="form" class="form form-floating d-flex flex-wrap flex-column gap-4" method="post" data-bs-theme="dark" onsubmit="return confirmarModificacion(event)">
         
        <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto col-md-8 text-center">
            <input id="direccion"  value="@Model.Direccion" class="form-control" type="text" name="Direccion" placeholder="sad" required>
            <label for="direccion" class="ms-2">Dirección</label>
        </div>
        
        <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto col-md-8 text-center" >
           <select id="uso" class="form-select" name="Uso" required>
              @foreach (var uso in ViewBag.enumUso) {
                   <option value="@uso" selected="@(uso == Model.Uso)">@uso</option>
                }               
           </select>
           <label for="uso" class="ms-2">Uso</label> 
        </div>
        <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto col-md-8 text-center">
           <select id="tipo" class="form-select" name="Tipo" required>
               @foreach (var tipo in ViewBag.enumTipo){
                <option value="@tipo" selected="@(tipo == Model.Tipo)">@tipo</option>
               }
           </select>
           <label for="tipo" class="ms-2">Tipo</label> 
        </div>
       
        <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto col-md-8 text-center">
            <input id="cantAmbientes" value="@Model.CantAmbientes" class="form-control" type="number" name="CantAmbientes" placeholder="sad" required>
            <label for="cantAmbientes" class="ms-2">Cantidad de Ambientes</label>
        </div>
        
        <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto col-md-8 text-center">
            <input id="latitud" value="@Model.Latitud" class="form-control" type="text" name="Latitud" step="any" placeholder="sad" required>
            <label for="latitud" class="ms-2">Latitud</label>
        </div>
        
        <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto col-md-8 text-center">
            <input id="longitud" value="@Model.Longitud"  class="form-control" type="text" name="Longitud" step="any" placeholder="sad" required>
            <label for="longitud" class="ms-2">Longitud</label>
        </div>
        
        <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto col-md-8 text-center">
            <input id="precio" value="@Model.Precio" class="form-control" type="number" name="Precio" step="any" placeholder="sad" required>
            <label for="precio" class="ms-2">Precio</label>
        </div>

       <div class="modal-body">
            <div class="d-flex gap-3 form-floating justify-content align-items-center mx-auto col-md-8 text-center">
                <input id="busquedaDni" value="@Model.Propietario.Dni" class="form-control" type="text" placeholder="Buscar por DNI" required>
                <button id="btnBuscarModal" type="button" class="btn btn-primary"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                <button id="redirCrear" type="button" class="btn btn-success"><i class="fa-solid fa-circle-plus" onclick="window.location.href = '/Propietarios/Create'"></i></button>
                <label for="Propietario" class="ms-2">Buscar Propietario por DNI <span class="fs-7">(formato: XX.XXX.XXX)</span></label>
            </div>
            <ul id="resultadoBusqueda" class="list-group mt-3"></ul>
        </div>

        <div id="cardProp" class="card col-md-8 mx-auto">
            <div class="card-header">
                Detalles del Propietario
            </div>
            <div class="card-body">
                <p class="card-text fw-bold">Nombre: <span class="fw-normal" id="propietarioNombre">@Model.Propietario.Nombre</span></p>
                <p class="card-text fw-bold">Apellido: <span class="fw-normal" id="propietarioApellido">@Model.Propietario.Apellido</span></p>
                <p class="card-text fw-bold">Correo: <span class="fw-normal" id="propietarioCorreo">@Model.Propietario.Correo</span></p>
                <p class="card-text fw-bold">Telefono: <span class="fw-normal" id="propietarioTelefono">@Model.Propietario.Telefono</span></p>         
            </div>
        </div>
      <input id="idPropietario" value="@Model.Propietario.Id" class="form-control" type="hidden" name="IdPropietario" required>
        <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto col-md-8 text-center">
               <button type="button" class="btn btn-primary mx-auto" style="width: fit-content;" onclick="window.location.href = '/Inmuebles'"><i class="fa-solid fa-arrow-rotate-left"></i></button>
               <button id="btnRegistrar" type="submit" class="btn btn-success mx-auto" style="width: fit-content;" disabled><i class="fa-solid fa-building-circle-check"></i></button>
        </div>
            
      </form>
    
</div>

</div>
<script src="~/js/buscarPropietario.js" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      @if (TempData.ContainsKey("AlertMessage") && TempData.ContainsKey("AlertType"))
      {
          var alertMessage = TempData["AlertMessage"];
          var alertType = TempData["AlertType"];
          <text>
              Swal.fire({
                  icon: '@alertType',
                  title: '@alertMessage',
                  showConfirmButton: false,
                  timer: 2000 // Mostrar durante 2 segundos
              });
          </text>
      }
    </script>

