@model Inmobiliaria.Models.Inquilino
    
@{
    ViewData["Title"] = "Detalles Inquilino";
}
<div class="text-center ">
    
    <div class="text-center ">
       <div class="container mt-4">
           <div class="card mx-auto col-md-8">
               <div class="card-body ">
                   <h3>Datos del Inquilino</h3>
                   <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto  text- *center">
                      <input id="apellido" value="@Model.Apellido" class="form-control input-top" type="text" name="Apellido" placeholder="asd" disabled>
                      <label for="apellido" class="ms-2">Apellido</label>
                   </div>
                   
                   <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto  text-center">
                       <input id="nombre" value="@Model.Nombre" class="form-control  input-mid" type="text" name="Nombre" placeholder="asd" disabled>
                       <label for="nombre" class="ms-2">Nombre</label>
                   </div>
                   
                   <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto  text-center">
                       <input id="dni" value="@Model.Dni" class="form-control  input-mid" type="text" name="Dni" placeholder="asd" disabled>
                       <label for="dni" class="ms-2">DNI <span class="fs-7">(formato: XX.XXX.XXX)</span></label>
                   </div>
                   
                   <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto  text-center">
                       <input id="telefono" value="@Model.Telefono" class="form-control input-mid" type="tel" name="Telefono" placeholder="asd" disabled>
                       <label for="telefono" class="ms-2">Teléfono <span class="fs-7">(Formato +XX XXX-XXXXXXX)</span></label>
                   </div>
                   
                   <div class="d-flex gap-5 form-floating justify-content align-items-center mx-auto  text-center">
                       <input id="correo" value="@Model.Correo" class="form-control input-bot" type="email" name="Correo" placeholder="asd" disabled>
                       <label for="correo" class="ms-2">Correo</label>
                   </div>
                   
               </div>
           </div>
       </div>
    </div>
   <div class="form-group mt-3">
             <button type="button" class="btn btn-primary mx-auto" style="width: fit-content;" onclick="window.location.href = '/Inquilinos'"><i class="fa-solid fa-circle-left"></i></button>
   </div>





